
/* Default CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.container{
    width: 1240px;
    height: auto;
}

/* Font Family */
h1,h2,h3,h4,h5,h6,body,span,a,p{
    font-family: sans-serif;
}


/* Header Menu CSS */
.header-section{
    background-color: #34495e;
    padding: 40px 0px 90px 0;
     
}

.header-section .header-menu{
    text-align: center;
}

.header-section .header-menu ul{
    list-style: none;
    display: inline-block;
}

.header-section .header-menu ul li{
    display: inline-block;
    position: relative;
}

.header-section .header-menu ul li a{
    background-color: #e67e22;
    text-decoration: none;
    padding: 7px 16px;
    margin-right: 15px;
    color: #10161c;
}

.header-section .header-menu ul li span{
    background-color: white;
    width: 8px;
    height: 30px;
    display: inline-block;
    top: 30px;
    left: 33px;
    position: absolute;
}

.header-section .header-menu ul li p{
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 29px;
    color: #e67e22;
    font-size: 40px;
}

/* Service Section */
.service-section{
    background-color: #e1e1e1;
    padding: 30px 0;
}

.service-section .service-header{
    text-align: center;
}

.service-section .service-header h1{
    color: #3c5e3c;
    font-size: 60px;
    border-bottom: 5px dashed #3c5e3c;
    font-weight: 600;
    padding: 30px 0 15px 0;
}

.service-section .service-header p{}

/* service-item */
.service-section .service-item{
    padding: 50px;
}

.service-section .service-item .service-one{
    width: 30%;
    background-color: #eee7e7;
    display: inline-block;
    margin-left: 2%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 0px 10px 2px;    
    border-radius: 40px;      
    transition: .5s;
}

.service-section .service-item .service-one:hover{
    background-color: #2a92dd;
}

.service-section .service-item .service-one span{ 
    font-size: 62px;
    color: #3c5e3c;
}

.service-section .service-item .service-one h2{
    color: #815050;
    font-size: 26px;
}

.service-section .service-item .service-one p{
    padding: 0px 42px;
}

/* About Section */
.about-section{
    background-color: #9b59b6;
    width: auto;
    height: 515px;
    text-align: center;
}

.circle-contant{
    position: relative;
}

.circle-contant .span{
    height: 120px;
    width: 120px;
    background-color: #34495e;
    border: 5px dotted #e07c23;
    border-radius: 50%;
}

.circle-contant .span{
    height: 120px;
    width: 120px;
    background-color: #34495e;
    border: 5px dotted #e07c23;
    border-radius: 50%;
}

.circle-contant .span{width: 200px;
    height: 120px;
    width: 120px;
    background-color: #34495e;
    border: 5px dotted #e07c23;
    border-radius: 50%;
}

.circle-contant .span{
    width: 120px;
    height: 120px;
    width: 120px;
    background-color: #34495e;
    border: 5px dotted #e07c23;
    border-radius: 50%;
}

.circle-contant .circle-1{   
    position: absolute;
    top: 20px;
    left: 378px;
}

.circle-contant .circle-2{
    position: absolute;
    top: 115px;
    left: 250px; 
}

.circle-contant .circle-3{   
    position: absolute;
    top: 20px;
    left: 620px;
}

.circle-contant .circle-4{    
    position: absolute;
    top: 115px;
    left: 746px;
}
 
.about-section .about-us{
    
    padding: 98px;
}
.about-section .about-us .picture{
    position: relative;
    text-align: center;
    display: inline-block;
}
.about-section .about-us .picture{}

.about-section .about-us .picture img{
    width: 150px;
    height: auto;
    border-radius: 50%; 
    border: 5px solid #f38616;
}

.about-section .about-us .picture .hover-inner{
    position: absolute;
    visibility: hidden;
    background-color:#59c83978;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
    left: 0px;
    width: 1px;
    height: 0; 
    opacity: 0;
    transition: .5s;
    color: #0034ff99;
}

.about-section .about-us .picture .hover-inner h3{
    font-size: 25px;
    margin-top: 58px;
}

.about-section .about-us .picture:hover .hover-inner{
    visibility: visible;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.about-section .contact-form{}
 
.about-section .contact-form .name{
    border-radius: 25px;
    font-size: 15px;
    padding: 4px;
    margin-top: 16px;
}

.about-section .contact-form .email{}

.about-section .contact-form .email{
    border-radius: 25px;
    font-size: 15px;
    padding: 4px;
}

.contact-form .button-hover button{
    text-decoration: none;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    padding: 6px 18px;
    background-color: #9b59b6;
    border: 2px solid #663661;
    transition: 2s;    
}

.contact-form .button-hover button:hover{    
    background-color: white;
    color: #9b59b6;
    cursor: pointer;    
}

/* Footer Section */
.footer-section{
    background-color: #34495e;
    text-align: center;
    padding: 15px;
} 

.footer-section .footer{
    color: white;
    font-size: 18px;
}

.footer-section .footer p{}



